/**
 * Applications
 */

$column-selector: '.gd' !default;

@import 'ress/ress';
@import 'flexboxgrid/flexboxgrid';

@import 'grid';
@import 'icons';

:root {
  font-family: Montserrat;
  line-height: 1.5;
}

main,
section,
footer {
  display: block;
  padding-top: 4rem;
  padding-bottom: 3rem;
  text-align: center;
}

header {
  margin-bottom: 3rem;
}

h1,
.h1 {
  font-size: 3rem;
  line-height: 3.5rem;
  margin-bottom: 1rem;

  > small {
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 2rem;
    display: block;
  }
}

h2,
.h2 {
  font-size: 2rem;
  line-height: 2.5rem;
}

a {
  color: #cc292b;
  text-decoration: none;
}

.i {
  vertical-align: inherit;
}

.list {
  list-style: none;

  &--inline {
    > li {
      align-items: center;
      display: inline-flex;

      &:not(:first-child) {
        margin-left: 1rem;
      }

      &:not(:last-child) {
        margin-right: 1rem;
      }

      > a {
        display: flex;
      }
    }
  }
}

.fz-god {
  font-size: 3rem;

  @media screen and (max-width: 30rem) {
    font-size: 2rem;
  }
}
